
//-------------------------------------------
//     IMPORTS
//-------------------------------------------
@import "../../../../../src/assets/scss/imports";


//-------------------------------------------
//     COMPONENT STYLES
//-------------------------------------------

.alliancesWrapper {
     background: #f2f4f7;
     padding: 100px 100px 50px 100px;

     .alliancesTtl {
          padding: 0 0 50px 0;

          h2 {
               text-align: left;
               font-size: 40px;
               color: $titlesColor;

               @include mainfont-lg();
               
               b {
                    @include mainfont-bd();
               }
          }

          p {
               margin: 30px 0 0 0;
               font-size: 18px;
               color: $titlesColor;
          }

          @include transitionAll(0.3s);
          &[data-emergence=hidden] {
               opacity: 0;
               transform: translate(0, 100px)
          }
          &[data-emergence=visible] {
               opacity: 1;
               transform: translate(0, 0px)
          }
     }

     .alliancesItems {
          display: flex;
          justify-content: center;

          .alliancesItm {
               margin: 0 40px 0 0;

               &:last-child {
                    margin: 0;
               }
          }
      }
}