

//-------------------------------------------
//     COLORS
//-------------------------------------------
$darkBlue: #2c3e50;
$blue: #2980b9;
$blue2: #005587;
$lightBlue: #3498db;

$red: #ac1917;

$purple: #772583;

$light: #ffffff;
$dark: #000;
$grey: #333;
$lightGrey: #ccc;
$lighterGrey: #f2f2f2;

$mainColor: #009681;
$mainColorLight: #a1f2eb;
$mainColorDark: #006c5b;

$newsColor: #772583;
$blogColor: #{$red};

$titlesColor: #505d68;

$success: #28a745;
$info: #17A2B8;
$danger: #dc3545;
$warning: #ffc107;


//-------------------------------------------
//     MIXINS
//-------------------------------------------

// PREFIXES MIXIN 
$prefixes: "webkit", "moz", "ms", "o", "none";
@mixin prefix($property, $arguments) {
     @each $prefix in $prefixes {
          @if $prefix == "none" {
               #{$property}: $arguments;
          } @else {
               -#{$prefix}-#{$property}: $arguments;
          } 
     }
}

// TRANSITION ALL MIXIN 
@mixin transitionAll ( $secs, $delay:0s ) {
     -webkit-transition: all $secs ease-in-out $delay;
     -moz-transition: all $secs ease-in-out $delay;
     -o-transition: all $secs ease-in-out $delay;
     transition: all $secs ease-in-out $delay;
}

// MEDIA QUERIES MIXINS
$xl-width: 1440px;
$lg-width: 1280px;
$md-width: 1024px;
$sm-width: 768px;
$xs-width: 640px;
$xxs-width: 380px;

@mixin mq-dsktp {
     @media screen and (max-width: #{$xl-width + 1px}) {
          @content;
     }
}
@mixin mq-dsktpSmall {
     @media screen and (max-width: #{$lg-width + 1px}) {
          @content;
     }
}
@mixin mq-tblt {
     @media screen and (max-width: #{$md-width + 1px}) {
          @content;
     }
}
@mixin mq-tbltSmall {
     @media screen and (max-width: #{$sm-width + 1px}) {
          @content;
     }
}
@mixin mq-tbltSmallest {
     @media screen and (max-width: #{$sm-width - 2px}) {
          @content;
     }
}
@mixin mq-phn {
     @media screen and (max-width: #{$xs-width + 1px}) {
          @content;
     }
}
@mixin mq-phnSmall {
     @media screen and (max-width: #{$xxs-width + 1px}) {
          @content;
     }
}
// height queries
@mixin mqH-phn {
     @media screen and (max-width: #{$sm-width }) and (orientation: landscape) {
          @content;
     }
}
@mixin mqH-phnSmall {
     @media screen and (max-width: #{$sm-width }) and (orientation: landscape) {
          @content;
     }
}
@mixin mqH-phnSmallest {
     @media screen and (max-width: #{$xs-width }) and (orientation: landscape) {
          @content;
     }
}



