

//-------------------------------------------
//     COLORS
//-------------------------------------------
$darkBlue: #2c3e50;
$blue: #2980b9;
$blue2: #005587;
$lightBlue: #3498db;

$red: #ac1917;

$light: #ffffff;
$dark: #000;
$grey: #333;
$lightGrey: #ccc;
$lighterGrey: #f2f2f2;

$mainColor: #009681;
$mainColorLight: #a1f2eb;

$newsColor: #772583;
$blogColor: #{$red};

$titlesColor: #505d68;


//-------------------------------------------
//     MIXINS
//-------------------------------------------

// PREFIXES MIXIN 
$prefixes: "webkit", "moz", "ms", "o", "none";
@mixin prefix($property, $arguments) {
     @each $prefix in $prefixes {
          @if $prefix == "none" {
               #{$property}: $arguments;
          } @else {
               -#{$prefix}-#{$property}: $arguments;
          } 
     }
}


// TRANSITION ALL MIXIN 
$prefixes: "webkit", "moz", "ms", "o", "none";
@mixin transitionAll ( $secs, $delay:0s ) {
     -webkit-transition: all $secs ease-in-out $delay;
     -moz-transition: all $secs ease-in-out $delay;
     -o-transition: all $secs ease-in-out $delay;
     transition: all $secs ease-in-out $delay;
}


