
//-------------------------------------------
//     IMPORTS
//-------------------------------------------
@import "../../../../../src/assets/scss/imports";


//-------------------------------------------
//     COMPONENT STYLES
//-------------------------------------------

%autoCompleteContent {
     display: flex;
     align-items: flex-start;


     .icon {
          font-size: 55px;
          margin: 0 11px 0 0;
          color: $blue2;
     }

     .text {
          width: 380px;

          .name, .type, .dis, .tel {
               // height: 22px;
               line-height: 1.3;
               display: flex;
               align-items: center;
               @include mainfont-rg();
          }
          .name {
               color: $mainColor;
               @include mainfont-bd();
     
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
               width: 100%;
     
          }
          .type {
               color: $blue2;
               margin: 3px 0;
          }
          .dis, .tel {
               color: $grey;
               font-size: 13px;
          }
          .tel {
               margin: 3px 0 0 0;
          }
     }

}

.mapWrapper {
     height: calc( 100vh - 75px );
     position: relative;

     .mapContent {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 0;

          
          agm-map {
               width: 100%;
               height: 100%;
               
               /deep/ div {
                    background: transparent !important;
                    box-shadow: none !important;
                    border: none !important;
               }

               // zoom btns
               /deep/ .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
                    bottom: 80px !important;
               }
               /deep/ .gmnoprint > div {
                    border-radius: 5px !important;
                    overflow: hidden !important;
                    width: 30px !important;
                    height: 60px !important;
               }
               /deep/ button.gm-control-active {
                    background: white !important;
                    width: 30px !important;
                    height: 30px !important;

                    img {
                         margin: 7px 0px 0px !important;
                    }
               }

               /deep/ .gm-style {
                    button.gm-ui-hover-effect {
                         top: 20px !important;
                         right: -50px !important;
                    }

                    .gm-style-iw {
                         background-color: white !important;
                         border-radius: 10px;
                         top: 20px !important;
                         left: -50px !important;
                         width: 350px !important;
                         padding: 12px 15px 12px 15px;
                         overflow: visible;

                         &:after {
                              content: "";
                              position: absolute;
                              width: 0;
                              height: 0;
                              bottom: -37px;
                              left: 50%;
                              border: 20px solid transparent;
                              border-top: 20px solid white;
                              transform: translate(-50%, 0);
                         }

                         div {
                              overflow: visible !important;
                         }

                         .agm-info-window-content {
                              width: 320px;
                              position: relative;

                              .autoCont {
                                   @extend %autoCompleteContent;
                              }
                         }
                    }
               }

          }
     }

     .mapBoxWrap {
          position: absolute;
          z-index: 5;
          background: #fff;
          width: 490px;
          height: auto;
          top: 50%;
          left: 2.5%;
          transform: translate(0, -50%);

          @include transitionAll ( 0.3s );

          box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

          $topBoxH: 318px;

          .topBoxInfo {
               height: $topBoxH;

               .ttl {
                    padding: 20px 20px 10px 20px;
     
                    h3 {
                         padding: 0 30px;
                         color: $titlesColor;
                         font-size: 27px;
                         @include mainfont-rg();
                         text-align: center;
                         line-height: 1.3;
     
                         b {
                              @include mainfont-bd();
                         }
                    }
     
               }
     
               .searchBox {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 15px 20px;
     
                    .inputWrap {
                         width: calc( 100% - 50px );
                         position: relative;
     
                         border: thin solid $mainColor;
                         border-radius: 10px;
                         padding: 7px 10px;
     
                         .input {
                              /deep/ mat-form-field {
                                   width: 100%;
     
                                   &.mat-form-field-should-float {
                                        .mat-form-field-infix {
                                             span.mat-form-field-label-wrapper {
                                                  opacity: 0;
                                             }
                                        }
                                   }
          
                                   .mat-form-field-underline {
                                        display: none;
                                   }
     
                                   .mat-form-field-wrapper {
                                        padding: 0;
                                   }
                                   .mat-form-field-infix {
                                        border: none;

                                        input {
                                             padding: 0 40px 0 0;
                                             overflow: hidden;
                                             white-space: nowrap;
                                             text-overflow: ellipsis;
                                        }
                                   }
                                   .mat-input-element {
                                        height: 21px;
                                        color: $dark;
                                   }
                              }
                         }
     
                         button {
                              position: absolute;
                              top: 50%;
                              right: 0;
                              padding: 0;
                              width: 38px;
                              min-width: 38px;
                              transform: translate(0,-50%);
                              font-size: 20px;
                         }
     
                    }
     
                    .centerBtn {
                         width: 50px;
                         height: 50px;
     
                         button {
                              font-size: 24px;
                              width: 50px;
                              min-width: 50px;
                              height: 50px;
                              padding: 0;
                              color: $red;
                         }
                    }
               }
     
               .markersBtns {
                    display: flex;
                    justify-content: space-between;
                    padding:10px 0 0;
     
                    .btn {
                         width: 33.333%;
     
                         button.mat-button {
                              width: 100%;
                              color: $grey;
                              padding:10px 0;
     
                              &.active {
                                   color: $mainColor;
                              }
     
                              .icm {
                                   font-size: 50px;
                                   display: block;
                              }
                              .btnText {
                                   @include mainfont-lg();
                              }
                         }
                    }
               }
          }
          

          .autoCompleteWrap {
               border-top: thin solid #ccc;
               overflow: hidden;
               height: 0;
               // height: calc( calc( 85vh - 75px ) - #{$topBoxH} );

               @include transitionAll( 0.3s);

               &.activeSearch {
                    height: 330px;
               }
               
               .autoCont {
                    padding: 15px;
                    cursor: pointer;

                    @extend %autoCompleteContent;
               }

               .autoCompViewport {
                    height: 330px;
                    
                    .autoCompItem {
                         height: 115px;
                         
                    }
               }

          }
     }
}
     


