

//-------------------------------------------
//     IMPORTS
//-------------------------------------------
@import "../../../../../src/assets/scss/imports";


//-------------------------------------------
//     COMPONENT STYLES
//-------------------------------------------
.leadFromWrapper {
     width: 100%;
     padding: 80px 2%;
     background: #fff;

     // tittle
     .leadFormTtl {
          margin: 0 0 30px 0;

          
          h2 {
               text-align: center;
               font-size: 35px;
               color: $titlesColor;
               
               @include mainfont-lg();
          }
          
          @include transitionAll(0.3s);
          &[data-emergence=hidden] {
               opacity: 0;
               transform: translate(0, 100px)
          }
          &[data-emergence=visible] {
               opacity: 1;
               transform: translate(0, 0px)
          }
     }

     // form

     .formWrap {

          @include transitionAll(0.3s, 0.15s);

          &[data-emergence=hidden] {
               opacity: 0;
               transform: translate(0, 100px)
          }
          &[data-emergence=visible] {
               opacity: 1;
               transform: translate(0, 0px)
          }


          form {
               display: flex;
               flex-wrap: wrap;
               justify-content: center;
               margin: 0 auto;
               width: 65vw;

               .formItm {
                    width: calc(50% - 4%);
                    margin: 18px 0;
                    padding: 0 2%;
     
                    /deep/ .mat-form-field {
                         width: 100%;
                         
                         .mat-form-field-infix {
                              width: 100%;
                              font-size: 18px;
                              color: $dark;
                         }

                         .mat-form-field-label {
                              font-size: 18px;
                              color: $mainColor;
                         }
                    }
                
                    button {
                         background: $mainColor;
                         border: thin solid white;
                         color: white;
                         text-transform: uppercase;
                         width: 100%;
                    }
               }

               .formBottom {
                    width: calc(100% - 4%);
                    margin: 18px 0;
                    padding: 0 4%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .legalcheck {
                         color: $dark;

                         /deep/ .mat-checkbox-inner-container {
                              height: 18px;
                              width: 18px;

                              .mat-checkbox-frame {
                                   border-width: 1px;
                              }

                         }
                         /deep/ .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
                              background-color: $mainColor;
                         }
                         /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background {
                              background-color: $mainColor;
                         }
                    }


                    .sendButton {
                         button {
                              background: $mainColor;
                              border: thin solid white;
                              color: white;
                              text-transform: uppercase;
                              width: 100%;
                         }
                    }
               }
          }
     }
}