

<div class="socialFeedWrapper">
  <div class="socialFeedTtl" data-emergence="hidden">
    <h2>
      <b>Qué está pasando</b> en La Siglo...
    </h2>
  </div>

  <div class="feedWrap">

    <div class="topfilters">
      <div class="label">Filtrar:</div>
      <div class="btn">
        <button mat-button class="matBtn btn-All" (click)="getFeedFilter( '' )">
          <i class="icm icm-socialAll"></i>
          <span>Todas</span>
        </button>
      </div>
      <div class="btn" *ngFor="let filts of allPostFilters">
        <button mat-button class="matBtn btn-{{filts.source}}" (click)="getFeedFilter( filts.source  )">
          <i class="icm {{ filts.source | juicerIcons}}"></i>
          <span>{{filts.source}}</span>
        </button>
      </div>
    </div>

    <div class="feedsItems" [attr.data-cols]="4"  *ngIf="!viewedFeed">
      <div class="feed animated fadeInUp" *ngFor="let item of viewPostFeed.items | slice:0:totalPost">
        <div class="top">
          <div class="lft">
            <div class="avatar">
              <img src="{{item.poster_image}}" alt="">
            </div>
            <div class="name">
              <span *ngIf="item.source.source == 'Twitter'">@</span>{{item.poster_name}}
            </div>
          </div>
          <div class="rgt">
            <div class="date">
              {{ getDateAgo(item.external_created_at) }}
            </div>
          </div>
        </div>
        <div class="midImg">
          <img src="{{item.image}}" alt="">
        </div>
        <div class="midTxt">
          <div class="txt" [innerHtml]="item.message">

          </div>
        </div>
        <div class="bottom">
          <div class="lft">
            <div class="comments">
              <i class="icm icm-comment"></i>
              <span>{{item.comment_count}}</span>
            </div>
            <div class="likes">
              <i class="icm icm-like"></i>
              <span>{{item.like_count}}</span>
            </div>
          </div>
          <div class="rgt">
            <i class="icm {{item.source.source | juicerIcons}}"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="feedLoader  animated fadeIn" *ngIf="loaderFeed">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="moreBtn">
      <button mat-button (click)="moreFeeds()">Más contenido</button>
    </div>

  </div>
</div>
