
//-------------------------------------------
//     IMPORTS
//-------------------------------------------
@import "../../../../../src/assets/scss/imports";


//-------------------------------------------
//     COMPONENT STYLES
//-------------------------------------------

/deep/ .cdk-overlay-container {
      z-index: 6000;
}

.leadFormWrap {

      form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            // width: 100vw;

            .formItm {
                  width: calc(33% - 3%);
                  margin: 18px 0 0 0;
                  padding: 0 2%;
                  
                  @include mq-tbltSmall {
                        margin: 0px 0 0 0;
                        width: calc(100% - 3%);
                  }

                  /deep/ .mat-form-field {
                        width: 100%;
                        
                        .mat-form-field-infix {
                              width: 100%;
                              font-size: 18px;
                              color: $dark;
                              
                              @include mq-tblt {
                                    font-size: 14px;
                               }
                        }

                        .mat-form-field-label {
                              font-size: 18px;
                              color: $mainColor;

                              @include mq-tblt {
                                    font-size: 14px;
                               }
                        }
                  }
            
                  button {
                        background: $mainColor;
                        border: thin solid white;
                        color: white;
                        text-transform: uppercase;
                        width: 100%;
                  }
            }

            .formBottom {
                  width: calc(100% - 4%);
                  margin: 18px 0 18px 0;
                  padding: 0 4%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  @include mq-tbltSmall {
                        flex-wrap: wrap;
                    }

                  .legalcheck {
                        color: $dark;

                        /deep/ .mat-checkbox-inner-container {
                              height: 18px;
                              width: 18px;

                              .mat-checkbox-frame {
                                    border-width: 1px;
                              }

                        }
                        /deep/ .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
                              background-color: $mainColor;
                        }
                        /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background {
                              background-color: $mainColor;
                        }

                        /deep/ .mat-checkbox-layout {
                              @include mq-tbltSmall {
                                    white-space: normal;
                              }
                              
                              .mat-checkbox-label {
                                    @include mq-tblt {
                                          font-size: 14px;
                                    }
                              }
                        } 
                  }


                  .sendButton {

                        @include mq-tbltSmall {
                              width: 100%;
                              margin: 30px 0 0 0 ;
                        }
                        
                        button {
                              background: $mainColor;
                              border: thin solid white;
                              color: white;
                              text-transform: uppercase;
                              width: 100%;
                        }
                  }
            }
      }

      &.dark {
            form {
      
                  .formItm {
      
                        /deep/ .mat-form-field {                              
                              .mat-form-field-infix {
                                    color: $light;
                              }

                              .mat-select-value-text {
                                    color: $light;
                              }
      
                              .mat-form-field-label {
                                    color: $light;
                              }

                              .mat-form-field-underline {
                                    background-color: rgba(255, 255, 255, 1);
                              }
                              .mat-select-arrow {
                                    color: rgba(255, 255, 255, 1);
                              }
                        }
                  
                        button {
                              background: $mainColor;
                              border: thin solid $light;
                              color: $light;
                        }
                  }
      
                  .formBottom {
      
                        .legalcheck {
                              color: $light;

                              /deep/ .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
                                    background-color: $mainColor;
                              }
                              /deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background {
                                    background-color: $mainColor;
                              }

                              /deep/ .mat-checkbox-frame {
                                    border-color: rgba(255, 255, 255, 0.54);
                              }
                        }
      
      
                        .sendButton {

                              button {
                                    background: $mainColor;
                                    border: none;
                                    color: white;
                              }
                        }
                  }
            }
      }

      &.vertical {
            form {
                  padding: 20px 0 0 0;
                  .formItm {
                        width: 100%;
                        margin: 0;

                        /deep/ .mat-form-field-infix {
                              border-top: 0px solid transparent;
                        }
                  }

                  .formBottom {
                        width: 100%;
                        margin: 5px 0;
                        padding: 0;
                        display: block;

                        .legalcheck {
                              /deep/ .mat-checkbox-layout {
                                    white-space: normal;
                                    font-size: 13px;

                                    span.mat-checkbox-label {
                                          line-height: 1.3;
                                    }
                              }
                        }

                        .sendButton {
                              position: absolute;
                              left: 50%;
                              transform: translate(-50%, 0);
                              bottom: -17px;
                        }
                  }
            }
      }
}