
//-------------------------------------------
//     IMPORTS
//-------------------------------------------
@import "../../../../../src/assets/scss/imports";


//-------------------------------------------
//     COMPONENT STYLES
//-------------------------------------------

.mainTopBar {
     $navHeight: 75px;

     position: sticky;
     top: 0;
     z-index: 100;
     margin: 0 0 -#{$navHeight} 0;


     .topbar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100vw;
          height: $navHeight;
          padding: 0 15px;
          background: transparent;

          @include transitionAll( 0.5s );

          .lft {
               display: flex;
               align-items: center;

               @include mq-tblt {
                    width: 100%;
                    flex-wrap: wrap;
               }

               .menuBtn {
                    margin: 0 20px 0 0;
                    display: none;
                    
                    @include mq-tblt {
                         display: block;
                         flex-basis: calc( 50% - 20px );
                    }
                    @include mq-phn {
                         margin: 0 10px 0 0;
                    }

                    button {
                         border: thin solid white;
                         padding: 0;
                         width: 40px;
                         min-width: 40px;
                         height: 40px;
                         display: flex;
                         align-items: center;
                         justify-content: center;

                         span {
                              font-size: 0;
                              width: 25px;
                              height: 3px;
                              background: white;
                              display: block;
                              position: relative;
                              
                              &:before {
                                   content: "";
                                   width: 25px;
                                   height: 3px;
                                   background: white;
                                   display: block;
                                   position: absolute;
                                   top: -7px;
                              }
                              &:after {
                                   content: "";
                                   width: 25px;
                                   height: 3px;
                                   background: white;
                                   display: block;
                                   position: absolute;
                                   top: 7px;
                              }
                         }
                    }
               }

               .mainLogo {
                    @include mq-tblt {
                         flex-basis: 50%;
                    }
                    img {
                         @include mq-phn {
                              width: 115px;
                         }
                    }

                    .logoWht {
                         display: block;
                    }
                    .logoColor {
                         display: none;
                    }
               }

               .menuItems {
                    margin: 0 0 0 20px;

                    @include mq-tblt {
                         display: none;
                    }

                    ul {
                         display: flex;
                         align-items: center;

                         li {
                              // margin: 0 20px;
                              
                              a.mainLink {
                                   padding: 0 20px;
                                   display: flex;
                                   height: $navHeight;
                                   align-items: center;

                                   text-decoration: none;
                                   color: white;
                                   text-transform: uppercase;
                                   position: relative;
                                   z-index: 100;

                                   @include mq-dsktpSmall {
                                        font-size: 15px;
                                        padding: 0 15px;
                                   }

                                   &:after {
                                        content: "";
                                        position: absolute;
                                        width: 100%;
                                        height: 3px;
                                        background: white;
                                        bottom: 0px;
                                        left: 50%;
                                        transform: translate(-50%,0);
                                        opacity: 0;
                                        pointer-events: none;

                                        @include transitionAll( 0.5s );
                                   }
                              }

                              .menuLayer {

                                   .layer {
                                        position: absolute;
                                        width: 100vw;
                                        height: 0;
                                        background: white;
                                        top: calc( 0% + #{$navHeight});
                                        opacity: 0;
                                        left: 0;
                                        z-index: 50;
                                        overflow: hidden;
                                        @include prefix( transition, all 0.5s cubic-bezier(0.835, -0.005, 0.06, 1) ) ;
                                        
                                        // top: -100%;
                                        // height: calc(100vh - #{$navHeight});
                                        // opacity: 1;

                                        .layerContent {
                                             display: flex;
                                             justify-content: center;
                                             padding: 80px 60px;

                                             %menuAnchor {
                                                  display: block;
                                                  color: $grey;
                                                  line-height: 1.4;
                                                  text-decoration: none;
                                                  position: relative;
                                                  @include transitionAll(0.3s);
                                                  padding: 10px 0 10px 20px;
                                             }

                                             // cols
                                             .frstCol {
                                                  .top {
                                                       .topLinks {
                                                            ul {
                                                                 display: block;
          
                                                                 li {
                                                                      display: block;
                                                                      margin: 0;
                                                                      
                                                                      a {

                                                                           color: $grey;
                                                                           margin: 0 0 5px 0;
                                                                           display: block;
                                                                           font-size: 15px;
                                                                           padding: 0 15px 0 20px;
                                                                           line-height: 1.4;
                                                                           text-decoration: none;
          
                                                                           &.main {
                                                                                text-transform: uppercase;
                                                                                @include mainfont-bd();
                                                                           }
          
                                                                           &:hover {
                                                                                color: $mainColor;
                                                                           }
          
                                                                      }
                                                                 }
                                                            }
                                                       }
                                                  }

                                                  .mid {
                                                       margin: 50px 0 0 0;
                                                       overflow: scroll;
                                                       max-height: 65vh;

                                                       .midItems {
                                                            ul {
                                                                 display: block;

                                                                 li {
                                                                      display: block;
                                                                      margin: 0 0 10px 0;
                                                                      
                                                                      a {
                                                                           @extend %menuAnchor;

                                                                           &:before {
                                                                                content: "";
                                                                                position: absolute;
                                                                                top:0;
                                                                                left: 0px;
                                                                                width: 3px;
                                                                                height: 100%;
                                                                                background: $mainColor;
                                                                                opacity: 0;

                                                                                @include transitionAll(0.3s);
                                                                           }
                                                                           
                                                                           &:hover, &.active {
                                                                                color: $mainColor;
                                                                                
                                                                                &:before {
                                                                                     opacity: 1;
                                                                                }
                                                                           }
                                                                      }
                                                                 }
                                                            }
                                                       }
                                                  }

                                             }
                                             
                                             .scndCol {
                                                  padding: 0 20px 0 10px;

                                                  .top {
                                                       margin: 0 0 30px 0;

                                                       a {
                                                            text-decoration: none;
                                                            color: $grey;
                                                            font-size: 24px;
                                                            @include mainfont-bd();
                                                            padding: 0 0 0 20px;
                                                       }
                                                  }

                                                  .mid {
                                                       overflow: scroll;
                                                       max-height: 65vh;
                                                       
                                                       ul {
                                                            display: block;
     
                                                            li {
                                                                 display: block;
                                                                 // margin: 0 0 20px 0;
                                                                 
                                                                 a {
                                                                      @extend %menuAnchor;
          
                                                                      i.icm {
                                                                           position: absolute;
                                                                           top: 50%;
                                                                           right: 20px;
                                                                           font-size: 18px;
                                                                           transform: translate(0,-50%);
                                                                      }
                                                                      
                                                                      &:hover, &.active {
                                                                           color: $mainColor;
                                                                           
                                                                           &:before {
                                                                                opacity: 1;
                                                                           }
                                                                      }
                                                                 }
                                                            }
                                                       }
                                                  }
                                             }
                                             
                                             .thrdCol {
                                                  padding: 0 20px 0 10px;

                                                  .top {
                                                       margin: 0 0 30px 0;
                                                       h6 {
                                                            color: $purple;
                                                            text-transform: uppercase;
                                                            font-size: 15px !important;
                                                            padding: 0 0 0 20px;
                                                       }
                                                  }

                                                  .mid {
                                                       overflow: scroll;
                                                       max-height: 65vh;

                                                       ul {
                                                            display: block;
     
                                                            li {
                                                                 display: block;
                                                                 // margin: 0 0 20px 0;
                                                                 
                                                                 a {
                                                                      @extend %menuAnchor;

                                                                      &:hover, &.active {
                                                                           color: $mainColor;
                                                                           
                                                                           &:before {
                                                                                opacity: 1;
                                                                           }
                                                                      }
                                                                 }
                                                            }
                                                       }
                                                  }
                                             }

                                             // last column
                                             .menuFormWrap {
                                                  border: thin solid #ccc;
                                                  padding: 20px;

                                                  .formTop {
                                                       p {
                                                            color: $purple;
                                                            @include mainfont-bd();
                                                            text-align: center;
                                                            text-transform: uppercase;

                                                            font-size: 14px;
                                                            margin: 0 0 10px 0;
                                                            letter-spacing: 8px;
                                                       }
                                                  }
                                                  .formMid {
                                                       text-align: center;

                                                       .number {
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: center;

                                                            .num {
                                                                 color: $blue2;
                                                                 @include mainfont-bd();
                                                                 font-size: 40px;
                                                                 font-size: 70px;
                                                                 margin: 0 10px 0 0;
                                                                 line-height: 0.8;
                                                            }
                                                            
                                                            .mon {
                                                                 color: $blue2;
                                                                 font-size: 18px;
                                                                 @include mainfont-bd();
                                                                 text-transform: uppercase;
                                                            }
                                                       }
                                                       .ttl {
                                                            color: $blue2;
                                                            text-transform: uppercase;
                                                            font-size: 26px;
                                                       }
                                                       .txt {
                                                            color: $grey;
                                                            margin: 15px 0 10px 0;
                                                       }
                                                  }

                                                  .bottomFormBtn {
                                                       width: 100%;
                                                       margin: 5px 0;
                                                       padding: 0;
                                                       display: block;

                                                       .sendButton {
                                                            button {
                                                                 background: $mainColor;
                                                                 border: thin solid white;
                                                                 color: white;
                                                                 text-transform: uppercase;

                                                                 margin: 10px 0 0 0;

                                                                 position: relative;
                                                                 left: 50%;
                                                                 transform: translate(-50%, 0);
                                                            }
                                                       }
                                                  }
                                             }

                                             // close arrow
                                             .arrowClose {
                                                  position: absolute;
                                                  bottom: 20px;
                                                  @include prefix( transform,  rotate(-90deg) );

                                                  padding: 15px;
                                                  border-radius: 50%;

                                                  i {
                                                       font-size: 20px;
                                                       color: $mainColor;
                                                  }
                                             }
                                        }

                                        &.closing {
                                             height: 0;
                                             pointer-events: none;
                                        }
                                   }
                              }

                              &:hover {
                                   a.mainLink {
                                        color: $mainColor;

                                        &:after {
                                             opacity: 1;
                                        }
                                   }
                              }

                         }
                    }

                    &:hover {
                         ul {
                              li {
                                   .menuLayer {
                                        .layer {
                                             height: calc(100vh - #{$navHeight + 35px});
                                             opacity: 1;
                                        }
                                   }
                              }
                         }
                    }
               }
          }
          .rgt {
               display: flex;
               align-items: center;
               
               .sideBtns {
                    margin: 0 30px 0 0;

                    @include mq-tbltSmall {
                         margin: 0 10px 0 0;
                    }
                    @include mq-phn {
                         margin: 0 0px 0 0;
                    }

                    ul {
                         display: flex;
                         align-items: center;

                         li {
                              

                              button {
                                   font-size: 28px;
                                   color: white;
                                   min-width: 50px !important;
                                   padding: 0 5px;

                                   @include mq-tbltSmall {
                                        display: none;
                                   }
                              }
                              &.searchIcon {
                                   display: flex;
                                   align-items: center;

                                   .searchLabel {
                                        color: white;
                                        padding: 0 20px 0 0;
                                        display: none;

                                        @include mq-phn {
                                             font-size: 16px;
                                             padding: 0 13px 0px 13px;
                                        }
                                   }

                                   .searchBtn {
                                        font-size: 20px;

                                        @include mq-tbltSmall {
                                             display: block;
                                        }

                                        @include transitionAll( 0.3s );
                                   }

                                   .closeSearch {
                                        display: none;
                                        align-items: center;
                                        justify-content: center;
                                        height: 40px;

                                        @include transitionAll( 0.3s );

                                        span {
                                             font-size: 0;
                                             position: relative;
                                             width: 2px;
                                             height: 2px;
                                             display: block;

                                             &:before, &:after {
                                                  content: "";
                                                  font-size: 0;
                                                  display: block;
                                                  width: 25px;
                                                  height: 3px;
                                                  background: white;
                                                  position: absolute;
                                                  top: 0;
                                                  left: -10px;
                                             }
                                             &:before {
                                                  transform: rotate(-45deg);
                                             }
                                             &:after {
                                                  transform: rotate(45deg);
                                             }
                                        }
                                   }

                                   .searchInput {
                                        width: 0px;
                                        position: relative;

                                        @include transitionAll( 0.3s );

                                        /deep/ mat-form-field {
                                             width: 100%;

                                             .mat-form-field-underline {
                                                  display: none;
                                             }

                                             .mat-form-field-infix {
                                                  margin: 10px 0 0 0;

                                                  .mat-input-element {
                                                       color: black;
                                                       background: #f2f2f2;
                                                       border: thin solid #ccc;
                                                       padding: 0px;
                                                       opacity: 0;
                                                       border-radius: 10px;
                                                  }

                                                  span.mat-form-field-label-wrapper {
                                                       top: -3px;
                                                       left: 10px;
                                                       opacity: 0;
                                                  }
                                             }

                                             &.mat-form-field-should-float {
                                                  .mat-form-field-infix {
                                                       span.mat-form-field-label-wrapper {
                                                            opacity: 0;
                                                       }
                                                  }
                                             }
                                        }

                                        .searchList {
                                             position: absolute;
                                             background: white;
                                             padding: 15px 30px;
                                             display: block;
                                             width: 100%;
                                             top: 70px;
                                             border-radius: 10px;

                                             max-height: 350px;
                                             overflow: scroll;
                                             display: none;

                                             @include mq-dsktpSmall {
                                                  padding: 15px 20px;
                                             }

                                             @include mq-tblt {
                                                  width: 70vw;
                                                  left: 50%;
                                                  top: 86px;
                                                  transform: translate(-50%,0);
                                             }
                                             @include mq-tbltSmall {
                                                  position: absolute;
                                                  width: 100vw;
                                                  top: 85px;
                                                  left: 0;
                                                  transform: translate(-44.72%,0);
                                             }
                                             @include mq-phn {
                                                  top: 81px;
                                                  transform: translate(-79px, 0);
                                             }

                                             .list {
                                                  ul {
                                                       display: block;

                                                       li {
                                                            color: $mainColorDark;
                                                            margin: 20px 0 35px 0;
                                                            
                                                            ul {
                                                                 li {
                                                                      margin: 20px 0;
                                                                      padding: 0 15px;

                                                                      @include mq-dsktpSmall {
                                                                           padding: 0 10px;
                                                                      }
                                                                      
                                                                      a {
                                                                           color: $grey;

                                                                           @include mq-dsktpSmall {
                                                                                font-size: 15px;
                                                                                line-height: 1.4;
                                                                           }
                                                                      }
                                                                 }
                                                            }
                                                       }
                                                  }
                                             }
                                        }
                                   }
                              }
                         }
                    }
               }

               .campusBtn {
                    button {
                         color: white;
                         text-transform: uppercase;
                         width: 90px;
                         line-height: 1.4;
                         border: thin solid white;
                         padding: 5px 0;
                         font-size: 12px;

                         @include mq-phn {
                              width: 80px;
                         }
                    }
               }
          }

          &:hover,
          &.scrolled {
               background: white;

               .lft {
                    .menuBtn {
     
                         button {
                              border: thin solid $mainColorDark;
     
                              span {
                                   background: $mainColorDark;
                                   
                                   &:before {
                                        background: $mainColorDark;
                                   }
                                   &:after {
                                        background: $mainColorDark;
                                   }
                              }
                         }
                    }

                    .mainLogo {
                         .logoWht {
                              display: none;
                         }
                         .logoColor {
                              display: block;
                         }
                    }

                    .menuItems {
     
                         ul {
     
                              li {
                                   
                                   a {
                                        color: $grey;

                                        &:after {
                                             background: $mainColor;
                                        }
                                   }
                              }
                         }
                    }
               }

               .rgt {
                    
                    .sideBtns {
                         ul {
     
                              li {
                                   button {
                                        color: $grey;
                                   }

                                   &.searchIcon {
                                        .searchBtn {
                                             color: black;
                                        }

                                        .searchLabel {
                                             color: black;
                                        }
     
                                        .closeSearch {
                                             span {
                                                  &:before, &:after {
                                                       background: $grey;
                                                  }
                                             }
                                        }
                                   }
                              }
                         }
                    }
     
                    .campusBtn {
                         button {
                              color: $mainColorDark;
                              border: thin solid $mainColorDark;
                         }
                    }
               }
          }

          // search show
          &.searchShow.scrolled,
          &.searchShow {

               .lft {
                    @include mq-tblt {
                         flex-wrap: initial;
                         width: auto;
                    }
                    @include mq-phn {
                         flex-wrap: wrap;
                         width: 100%;
                    }

                    .menuItems {
                         display: none;
                    }
               }

               .rgt {
                    .sideBtns {
                         ul {
                              li {
                                   &.searchIcon {

                                        @include mq-phn {
                                             position: absolute;
                                             width: 100%;
                                             left: 0;
                                             background: white;
                                             top: 75px;
                                             display: flex;
                                             justify-content: flex-start;
                                             padding: 0;
                                             height: 66px;
                                        }

                                        .searchBtn {
                                             margin: 0 0 0 -50px;
                                             color: black;
                                        }
     
                                        .closeSearch {
                                             display: flex;
                                        }
     
                                        .searchInput {
                                             width: 680px;

                                             @include mq-dsktpSmall {
                                                  width: 550px;
                                             }
                                             @include mq-tblt {
                                                  width: 330px;
                                             }
                                             @include mq-tbltSmall {
                                                  width: 260px;
                                             }
     
                                             /deep/ mat-form-field {
     
                                                  .mat-form-field-infix {

                                                       .mat-input-element {
                                                            padding: 8px 10px;
                                                            opacity: 1;
                                                       }

                                                       span.mat-form-field-label-wrapper {
                                                            opacity: 1;
                                                       }
                                                  }

                                                  &.mat-form-field-should-float {
                                                       .mat-form-field-infix {
                                                            span.mat-form-field-label-wrapper {
                                                                 opacity: 0;
                                                            }
                                                       }
                                                  }
                                             }
                                        }
                                   }
                              }
                         }
                    }
               }
          }
     }

     
 }