

<div class="mainTopBar">
  <div class="topbar" (window:scroll)="winScroll($event)">

    <div class="lft">
      <div class="menuBtn">
        <button mat-button>
          <span>menu</span>
        </button>
      </div>

      <div class="mainLogo">
        <a href="#">
          <img class="logoWht" src="assets/img/logo_white.png" alt="main logo">
          <img class="logoColor" src="assets/img/logo_color.png" alt="main logo">
        </a>
      </div>

      <div class="menuItems">
        <ul>
          <li *ngFor="let itms of menuItems; let m = index">
            <a href="{{itms.link}}" class="mainLink" (mouseenter)="mainItemHover(m)">
              {{itms.label}}
            </a>

            <div class="menuLayer">
              <div class="layer layer-{{m}}">
                <div class="layerContent">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-3">
                        <div class="frstCol">

                          <div class="top">
                            <div class="topLinks" *ngFor="let topItms of itms.topLinks">
                              <ul>
                                <li>
                                  <a href="{{topItms.link}}" class="main">{{topItms.label}}</a>
                                </li>
                                <li *ngFor="let subTopItem of topItms.children">
                                  <a href="{{subTopItem.link}}" >{{subTopItem.label}}</a>
                                </li>
                              </ul>
                            </div>
                          </div>

                          <div class="mid">
                            <div class="midItms" *ngFor="let midItems of itms.children; let s = index">
                              <div class="midItems">
                                <ul>
                                  <li>
                                    <a href="{{midItems.link}}" class="main midItems midItems-{{s}}" (mouseenter)="subItemHover(m, s)">{{midItems.label}}
                                    </a>
                                  </li>
                                </ul>
                              </div>

                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-3">

                        <div class="scndCol">
                          <div class="scndColItms">
                            <div class="top">
                              <a href="{{menuSubCol.link}}">
                                {{menuSubCol.label}}
                              </a>
                            </div>
                            <div class="mid">
                              <ul>
                                <li *ngFor="let scnd of menuSubCol.children; let j = index">
                                  <a href="{{scnd.link}}" (mouseenter)="subSecItemHover(j)" class="midSecItems midSecItems-{{j}}">
                                    {{scnd.label}}
                                    <i *ngIf="scnd.children.length > 0" class="icm icm-rgtBnnrArrow"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="col-3">

                        <div class="thrdCol">
                          <div class="thrdColItms">
                              <div class="top"  *ngIf="menuSubSecCol.length > 0">
                                <h6>{{menuSubSecCol.length}} Programas</h6>
                              </div>
                              <div class="mid">
                                <ul>
                                  <li *ngFor="let thrd of menuSubSecCol; let k = index">
                                    <a href="{{thrd.link}}">
                                      {{thrd.label | titlecase }}
                                    </a>
                                  </li>
                                </ul>
                              </div>
                          </div>
                        </div>

                      </div>
                      <div class="col-3">

                          <div class="menuFormWrap">
                            <div class="formTop">
                              <p>Ingreso 2019</p>
                            </div>
                            <div class="formMid">
                              <div class="number">
                                <div class="num">26</div>
                                <div class="mon">Noviembre</div>
                              </div>
                              <div class="ttl">Cierre de cupo</div>
                              <div class="txt">Iniciá tu proceso de inscripción</div>
                            </div>

                            <div class="bottomFormBtn">
                              <div class="formBottom">
                                <div class="sendButton">
                                  <button mat-button type="submit" class="matBtn">Inscribñirme online</button>
                                </div>
                              </div>
                            </div>
                          </div>

                      </div>
                    </div>
                  </div>
                  <div class="arrowClose" (click)="closeMenu()">
                    <i class="icm icm-rgtBnnrArrow"></i>
                  </div>

                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>

    <div class="rgt">
      <div class="sideBtns">
        <ul>
          <li class="searchIcon">
            <div class="searchLabel">
              <span>Buscar: </span>
            </div>
            <div class="searchInput">
              <mat-form-field>
                <input matInput value="" id="searchInput" [formControl]="searchInput" (keyup)="searchQuery($event)">
              </mat-form-field>

              <div class="searchList">
                <div class="list">
                  <ul>
                    <li *ngFor="let category of searchResults">
                      {{category.cat}}

                      <ul>
                        <li *ngFor="let items of category.items">
                          <a href="{{items.link}}">
                            {{items.label | titlecase}}
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

            <button mat-button class="searchBtn" (click)="mainSearch()">
              <i class="icm icm-search"></i>
            </button>
            
            <button mat-button class="closeSearch" (click)="closeMainSearch()">
              <span>close</span>
            </button>
          </li>
          <li>
            <button mat-button>
              <i class="icm icm-book"></i>
            </button>
          </li>
          <li>
            <button mat-button>
              <i class="icm icm-map"></i>
            </button>
          </li>
          <li>
            <button mat-button>
              <i class="icm icm-phone"></i>
            </button>
          </li>
        </ul>
      </div>
      <div class="campusBtn">
        <button mat-button>Ingresar<wbr> a campus</button>
      </div>
    </div>

  </div>
</div>