
//-------------------------------------------
//     IMPORTS
//-------------------------------------------
@import "../../../../../src/assets/scss/imports";


//-------------------------------------------
//     COMPONENT STYLES
//-------------------------------------------

.footerWrapper {
     background: #f2f4f7;

     .leadFormMain {
          position: relative;
          height: 200px;

          .leadFormCont {
               position: absolute;
               width: 90vw;
               right: 0;
               background: $grey;
               top: 0%;
               transform: translate(0, 0%);
               padding: 60px 0 40px 0;

               .ttl {     
                     margin: 0 0 20px 0;              
                    h2 {
                         text-align: center;
                         font-size: 30px;
                         color: $light;
                         
                         @include mainfont-lg();
                    }
               }
          }
     }


     .footMenuWrap {
          background: $mainColorDark;
          padding: 220px 0 30px 0;

          .footLinksWrap {
               display: flex;
               justify-content: center;
               padding: 80px 0px;

               .mainLink {
                    text-transform: uppercase;
                    margin: 0 0 30px 0;

                    a {
                         color: white;

                         &:hover {
                              text-decoration: none;
                         }
                    }
               }

               .subLink {
                    ul {
                         li {
                              margin: 0 0 10px 0;

                              a {
                                   color: white;
          
                                   &:hover {
                                        text-decoration: none;
                                   }
                              }
                         }
                    }
               }
          }

          .footSocial {
               display: flex;
               justify-content: space-between;
               align-items: center;

               padding: 0 30px;

               .lft {
                    display: flex;
                    align-items: center;

                    .logo {
                         margin: 0 30px 0 0;
                    }

                    .tel {
                         a {
                              color: white;
                              font-size: 18px;
                              display: flex;
                              align-items: center;
                              
                              i {
                                   font-size: 24px;
                                   margin: 0 10px 0;
                              }
                         }
                    }

               }

               .rgt {

                    .socailLinks {
                         display: flex;
                         align-items: center;
                         color: white;
                         text-transform: uppercase;

                         .items {
                              display: flex;
                              align-items: center;

                              a {
                                   color: white;
                                   font-size: 35px;
                                   margin: 0 10px;
                              }
                         }
                    }
               }
          }
     }

     .footBttm {
          text-align: center;
          background: $grey;
          
          padding: 10px;
          
          p {
               color: #999;
               @include mainfont-lg();
               font-size: 12;
          }
     }
}