
//-------------------------------------------
//     IMPORTS
//-------------------------------------------
@import "../../../../../src/assets/scss/imports";


//-------------------------------------------
//     COMPONENT STYLES
//-------------------------------------------

.footerWrapper {
     background: #f2f4f7;

     .leadFormMain {
          position: relative;
          height: 200px;

          @include mq-tbltSmall {
               display: none;
          }
          

          .leadFormCont {
               position: absolute;
               width: 90vw;
               right: 0;
               background: $grey;
               top: 0%;
               transform: translate(0, 0%);
               padding: 60px 0 40px 0;

               .ttl {     
                     margin: 0 0 20px 0;              
                    h2 {
                         text-align: center;
                         font-size: 30px;
                         color: $light;
                         
                         @include mainfont-lg();
                         
                         @include mq-tblt {
                              font-size: 23px;
                         }
                    }
               }
          }
     }


     .footMenuWrap {
          background: $mainColorDark;
          padding: 220px 0 30px 0;
          
          @include mq-tbltSmall {
               padding: 60px 0 30px 0;
               display: flex;
               flex-wrap: wrap;
          }

          .footLinksWrap {
               display: flex;
               justify-content: center;
               padding: 80px 0px;

               @include mq-tbltSmall {
                    order: 2;
                    
                    margin: 0 auto;
                    text-align: center;
                    padding: 40px 0 0 0;
               }

               .mainLink {
                    text-transform: uppercase;
                    margin: 0 0 30px 0;

                    a {
                         color: white;

                         &:hover {
                              text-decoration: none;
                         }
                    }
               }

               .subLink {
                    @include mq-tbltSmall {
                         display: none;
                    }

                    ul {
                         li {
                              margin: 0 0 10px 0;

                              a {
                                   color: white;
          
                                   &:hover {
                                        text-decoration: none;
                                   }
                              }
                         }
                    }
               }
          }

          .footSocial {
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding: 0 30px;

               @include mq-tbltSmall {
                    order: 1;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100%;
               }


               .lft {
                    display: flex;
                    align-items: center;


                    .logo {
                         margin: 0 30px 0 0;

                         @include mq-tbltSmall {
                              margin: 0;
                              
                              img {
                                   width: 260px;
                                   height: auto;
                              }
                         }
                         @include mq-phn {
                              img {
                                   width: 230px;
                              }
                         }
                    }

                    .tel {
                         a {
                              color: white;
                              font-size: 18px;
                              display: flex;
                              align-items: center;
                              
                              i {
                                   font-size: 24px;
                                   margin: 0 10px 0;
                              }
                              
                              span {
                                   @include mq-tblt {
                                        width: 140px;
                                        line-height: 1.4;
                                        display: block;
                                   }
                              }
                         }

                         @include mq-tbltSmall {
                              display: none;
                         }
                    }

               }

               .rgt {

                    @include mq-tbltSmall {
                         flex-basis: 100%;
                         display: flex;
                         justify-content: center;
                    }

                    .socailLinks {
                         display: flex;
                         align-items: center;
                         color: white;
                         text-transform: uppercase;

                         .label {
                              @include mq-tblt {
                                   display: none;
                              }
                         }
                         
                         .items {
                              display: flex;
                              align-items: center;
                              
                              @include mq-tbltSmall {
                                   margin: 20px 0 0 0;
                              }


                              a {
                                   color: white;
                                   font-size: 35px;
                                   margin: 0 10px;
                                   
                                   @include mq-tbltSmall {
                                        font-size: 25px;
                                   }
                              }
                         }
                    }
               }
          }

          .bottomBtn {
               display: none;
               justify-content: center;
               width: 100%;
               margin: 10px 0 0;
               
               button {
                    background: white;
                    color: $mainColorDark;
                    text-transform: uppercase;
                    font-weight: 300;
               }
               
               @include mq-tbltSmall {
                    order: 3;
                    display: flex;
               }
          }
     }

     .footBttm {
          text-align: center;
          background: $grey;
          
          padding: 10px;
          
          p {
               color: #999;
               @include mainfont-lg();
               font-size: 12;

               span {
                    @include mq-tbltSmall {
                         display: none;
                    }

               }

          }
     }
}


.favBtnSmall {
     width: 50px;
     height: 50px;
     position: fixed;
     z-index: 2000;
     background: transparent;
     bottom: 20px;
     right: 20px;
     border-radius: 50%;

     .favMenuTrgr {
          position: relative;
          z-index: 5;

          button {
               padding: 0;
               min-width: 50px;
               height: 50px;
               font-size: 0;
               border-radius: 50%;
               background: white;
               color: $grey;

               align-items: center;
               justify-content: center;
               opacity: 1;
               display: flex;

               span {
                    font-size: 0;
                    position: relative;
                    width: 2px;
                    height: 2px;
                    display: block;
                    color: $grey;

                    transform: rotate(45deg);

                    @include transitionAll ( 0.3s );

                    &:before, &:after {
                         content: "";
                         font-size: 0;
                         display: block;
                         width: 20px;
                         height: 1px;
                         background: $grey;
                         position: absolute;
                         top: 0;
                         left: -8px;
                    }
                    &:before {
                         transform: rotate(-45deg);
                    }
                    &:after {
                         transform: rotate(45deg);
                    }
               }
          }
     }

     .favOverlay {
          position: absolute;
          width: 70%;
          height: 70%;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          background: rgba(0, 0, 0, 0.7);
          z-index: 0;
          transform: translate(-50%, -50%);

          @include transitionAll ( 0.3s );
     }

     .favItemsBg {
          position: absolute;
          width: 470px;
          height: 470px;
          background: $grey;
          border-radius: 50%;
          top: calc(-50% + 90px);
          left: calc(-50% + 90px);
          transform: translate(-50%, -50%) scale(0);

          @include transitionAll ( 0.15s, 0.05s );
     }

     .favItems {
          z-index: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .favItm {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%) scale(0.3);
               opacity: 0;

               @include transitionAll ( 0.15s, 0s );

               button {
                    color: white;
                    padding: 0;
                    border: none;
                    background: transparent;

                    i {
                         display: block;
                         font-size: 30px;
                         margin: 0 0 5px 0;
                    }
                    span {
                         font-size: 14px;
                    }
               }
          }
     }


     /* OPENED */
     &.favOpened {
          
          .favOverlay {
               width: 3000px;
               height: 3000px;
          }

          .favMenuTrgr {
               button {
     
                    span {
                         transform: rotate(0deg);
                    }
               }
          }

          .favItemsBg {
               transform: translate(-50%, -50%) scale(1);
               @include transitionAll ( 0.15s, 0.15s );
          }

          .favItems {
               z-index: 10;

               .favItm {
                    transform: translate(-50%,-50%) scale(1);
                    opacity: 1;

                    &.favItm-1 {
                         top: -150px;
                         left: 5px;

                         @include prefix(transition , all 0.3s cubic-bezier(.68, 1.55, .265, 1) 0.15s);
                    }
                    &.favItm-2 {
                         top: -124px;
                         left: -57px;

                         @include prefix(transition , all 0.3s cubic-bezier(.68, 1.55, .265, 1) 0.15s);
                    }
                    &.favItm-3 {
                         left: -120px;
                         top: -65px;

                         @include prefix(transition , all 0.3s cubic-bezier(.68, 1.55, .265, 1) 0.15s);
                    }
                    &.favItm-4 {
                         left: -140px;
                         top: 5px;

                         @include prefix(transition , all 0.3s cubic-bezier(.68, 1.55, .265, 1) 0.15s);
                    }
               }
          }

     }
}


// lead form Small
.leadFormModalSm {
     position: fixed;
     z-index: 5500;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: white;
     left: -100%;

     @include prefix(transition , all 0.3s cubic-bezier(.68, 1.55, .265, 1) 0.15s);

     .closeleadFormSm {
          position: absolute;
          top: 15px;
          right: 5px;

          button {
               align-items: center;
               justify-content: center;
               height: 30px;
               min-width: 30px;
               width: 30px;
               display: flex;

               @include transitionAll( 0.3s );

               span {
                    font-size: 0;
                    position: relative;
                    width: 2px;
                    height: 2px;
                    display: block;
                    left: -20px;

                    &:before, &:after {
                         content: "";
                         font-size: 0;
                         display: block;
                         width: 20px;
                         height: 3px;
                         background: $blue;
                         position: absolute;
                         top: 0;
                         left: 10px;
                    }
                    &:before {
                         transform: rotate(-45deg);
                    }
                    &:after {
                         transform: rotate(45deg);
                    }
               }
          }
     }

     .form {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;

          .formCont {
               width: 100%;
               padding: 0 30px;
               max-width: 460px;

               @include mq-phnSmallest {
                    padding: 0 10px;
               }
               
               .inputWrap {
                    @include mq-phnSmallest {
                         height: 390px;
                         overflow: scroll;
                    }
                    @include mqH-phnSmall {
                         height: 300px;
                         overflow: scroll;
                    }
                    @include mqH-phnSmallest {
                         height: 220px;
                         overflow: scroll;
                    }
               }

               .ttl {
                    text-align: center;
                    font-size: 30px;
                    color: gray;
                    padding: 0 30px 10px 30px;
                    
                    @include mq-phnSmall {
                         font-size: 25px;
                    }
                    @include mqH-phnSmallest {
                         font-size: 22px;
                    }
               }
          }

     }
}

/deep/ .leadSmOpen {
     .leadFormModalSm {
          left: 0;
     }
}