<!-- Loader -->
<app-loader-one></app-loader-one>

<!-- top Alert -->
<!-- <app-top-alert-one [type]="'warning'"></app-top-alert-one> -->

<!-- Header -->
<app-top-nav-one></app-top-nav-one>
<!-- <app-top-nav-two></app-top-nav-two> -->

<!-- components -->

<app-main-home-banner-one></app-main-home-banner-one>

<!-- <app-leads-form-one *ngIf="w > 769"></app-leads-form-one> -->

<!-- <app-careers-home-one></app-careers-home-one> -->

<!-- <app-stats-home-one></app-stats-home-one> -->

<!-- <app-news-home-one></app-news-home-one> -->

<!-- <app-map-home-one></app-map-home-one> -->

<!-- <app-regular-banner-one></app-regular-banner-one> -->

<!-- <app-social-feed-one></app-social-feed-one> -->

<app-testimonial-one></app-testimonial-one>

<!-- <app-alliances-one *ngIf="w > 769"></app-alliances-one> -->

<!-- Footer -->
<app-footer-one></app-footer-one>