
<!-- Header -->
<app-top-nav-one></app-top-nav-one>

<!-- components -->

<app-main-home-banner-one></app-main-home-banner-one>

<app-leads-form-one></app-leads-form-one>

<app-careers-home-one></app-careers-home-one>

<app-stats-home-one></app-stats-home-one>

<app-news-home-one></app-news-home-one>

<app-map-home-one></app-map-home-one>

<app-regular-banner-one></app-regular-banner-one>

<app-social-feed-one></app-social-feed-one>

<app-testimonial-one></app-testimonial-one>

<app-alliances-one></app-alliances-one>

<!-- Footer -->
<app-footer-one></app-footer-one>