
//-------------------------------------------
//     IMPORTS
//-------------------------------------------
@import "../../../../../src/assets/scss/imports";


//-------------------------------------------
//     COMPONENT STYLES
//-------------------------------------------

.mainTopBar {
     $navHeight: 75px;

     position: sticky;
     top: 0;
     z-index: 600;
     margin: 0 0 -#{$navHeight} 0;


     .topbar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: $navHeight;
          padding: 0 15px;
          background: transparent;

          @include transitionAll( 0.5s );

          .lft {
               display: flex;
               align-items: center;

               @include mq-tblt {
                    width: 100%;
                    flex-wrap: wrap;
               }

               .menuBtn {
                    margin: 0 20px 0 0;
                    display: none;
                    
                    @include mq-tblt {
                         display: block;
                         flex-basis: calc( 50% - 20px );
                    }
                    @include mq-phn {
                         flex-basis: 50px;
                    }

                    @include mq-phnSmall {
                         flex-basis: 40px;
                    }

                    button {
                         border: thin solid white;
                         padding: 0;
                         width: 40px;
                         min-width: 40px;
                         height: 40px;
                         display: flex;
                         align-items: center;
                         justify-content: center;

                         @include mq-phnSmall {
                              width: 30px;
                              min-width: 30px;
                              height: 30px;
                         }

                         span {
                              font-size: 0;
                              width: 25px;
                              height: 3px;
                              background: white;
                              display: block;
                              position: relative;

                              @include mq-phnSmall {
                                   width: 20px;
                              }
                              
                              &:before {
                                   content: "";
                                   width: 25px;
                                   height: 3px;
                                   background: white;
                                   display: block;
                                   position: absolute;
                                   top: -7px;

                                   @include mq-phnSmall {
                                        width: 20px;
                                   }
                              }
                              &:after {
                                   content: "";
                                   width: 25px;
                                   height: 3px;
                                   background: white;
                                   display: block;
                                   position: absolute;
                                   top: 7px;

                                   @include mq-phnSmall {
                                        width: 20px;
                                   }
                              }
                         }
                    }
               }

               .mainLogo {
                    @include transitionAll(0.3);

                    @include mq-tblt {
                         flex-basis: 50%;
                    }
                    @include mq-phn {
                         flex-basis: calc( 100% - 120px );
                    }
                    @include mqH-phnSmallest {
                         flex-basis: calc( 100% - 220px );
                    }

                    img {
                         @include mq-phn {
                              width: 115px;
                              margin: 0 10px 0 0;
                              float: right;
                         }

                         @include mq-phnSmall {
                              width: 100px;
                              margin: 0;
                         }
                    }

                    .logoWht {
                         display: block;
                    }
                    .logoColor {
                         display: none;
                    }
               }

               .menuItems {
                    margin: 0 0 0 20px;


                    ul {
                         display: flex;
                         align-items: center;

                         li {
                              a.mainLink {
                                   padding: 0 20px;
                                   display: flex;
                                   height: $navHeight;
                                   align-items: center;

                                   text-decoration: none;
                                   color: white;
                                   text-transform: uppercase;
                                   position: relative;
                                   z-index: 100;

                                   @include mq-dsktpSmall {
                                        font-size: 15px;
                                        padding: 0 15px;
                                   }

                                   &:after {
                                        content: "";
                                        position: absolute;
                                        width: 100%;
                                        height: 3px;
                                        background: white;
                                        bottom: 0px;
                                        left: 50%;
                                        transform: translate(-50%,0);
                                        opacity: 0;
                                        pointer-events: none;

                                        @include transitionAll( 0.5s );
                                   }
                              }

                              .menuLayer {

                                   .layer {
                                        position: absolute;
                                        width: 100vw;
                                        height: 0;
                                        background: white;
                                        top: calc( 0% + #{$navHeight});
                                        opacity: 0;
                                        left: 0;
                                        z-index: 50;
                                        overflow: hidden;
                                        
                                        @include prefix( transition, all 0.5s cubic-bezier(0.835, -0.005, 0.06, 1) ) ;
                                        
                                        // top: -100%;

                                        .layerContent {
                                             display: flex;
                                             justify-content: center;
                                             padding: 80px 60px;

                                             %menuItmsStyle {
                                                  ul {
                                                       display: block;

                                                       li {
                                                            display: block;
                                                            margin: 0;
                                                            
                                                            a {
                                                                 color: $grey;
                                                                 margin: 0 0 20px 0;
                                                                 display: block;
                                                                 font-size: 15px;
                                                                 padding: 0 15px 0 0;
                                                                 line-height: 1.4;
                                                                 text-decoration: none;

                                                                 &.main {
                                                                      text-transform: uppercase;
                                                                      color: $mainColor;
                                                                      @include mainfont-bd();
                                                                 }

                                                                 &:hover {
                                                                      color: $mainColor;
                                                                 }

                                                            }
                                                       }
                                                  }
                                             }

                                             .topLinks {
                                                  margin: 0 0 50px 0;
                                                  @extend %menuItmsStyle;
                                             }
                                             .midItems {
                                                  @extend %menuItmsStyle;
                                             }

                                             .menuFormWrap {
                                                  border: thin solid #ccc;
                                                  padding: 15px 15px 35px 15px;

                                                  .formTop {
                                                       p {
                                                            color: $purple;
                                                            @include mainfont-bd();
                                                            text-align: center;
                                                            text-transform: uppercase;

                                                            font-size: 14px;
                                                            margin: 0 0 10px 0;
                                                            letter-spacing: 8px;
                                                       }
                                                  }
                                                  .formMid {
                                                       text-align: center;

                                                       .number {
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: center;

                                                            .num {
                                                                 color: $blue2;
                                                                 @include mainfont-bd();
                                                                 font-size: 40px;
                                                                 font-size: 70px;
                                                                 margin: 0 10px 0 0;
                                                                 line-height: 0.8;
                                                            }
                                                            
                                                            .mon {
                                                                 color: $blue2;
                                                                 font-size: 18px;
                                                                 @include mainfont-bd();
                                                                 text-transform: uppercase;
                                                            }
                                                       }
                                                       .ttl {
                                                            color: $blue2;
                                                            text-transform: uppercase;
                                                            font-size: 26px;
                                                       }
                                                       .txt {
                                                            color: $grey;
                                                            margin: 15px 0 10px 0;
                                                       }
                                                  }
                                             }

                                             .arrowClose {
                                                  position: absolute;
                                                  bottom: 20px;
                                                  @include prefix( transform,  rotate(-90deg) );

                                                  padding: 15px;
                                                  border-radius: 50%;

                                                  i {
                                                       font-size: 20px;
                                                       color: $mainColor;
                                                  }
                                             }

                                        }

                                        &.closing {
                                             height: 0;
                                             pointer-events: none;
                                        }

                                   }
                              }

                              &:hover {
                                   a.mainLink {
                                        color: $mainColor;

                                        &:after {
                                             opacity: 1;
                                        }
                                   }
                              }

                         }
                    }

                    &:hover {
                         ul {
                              li {
                                   .menuLayer {
                                        .layer {
                                             // top: calc( 0% + #{$navHeight});
                                             height: calc(100vh - #{$navHeight + 35px});
                                             opacity: 1;
                                        }
                                   }
                              }
                         }
                    }
               }
          }

          .rgt {
               display: flex;
               align-items: center;
               
               .sideBtns {
                    margin: 0 30px 0 0;
                    
                    @include mq-tbltSmall {
                         margin: 0 10px 0 0;
                    }
                    @include mq-phn {
                         margin: 0 0px 0 0;
                    }

                    ul {
                         display: flex;
                         align-items: center;

                         li {
                              button {
                                   font-size: 28px;
                                   color: white;
                                   min-width: 50px;
                                   padding: 0 5px;

                                   @include mq-tbltSmall {
                                        display: none;
                                   }

                                   @include mq-phnSmall {
                                        min-width: 40px !important;
                                   }
                              }

                              &.searchIcon {
                                   display: flex;
                                   align-items: center;
                                   
                                   .searchLabel {
                                        color: white;
                                        padding: 0 20px 0 0;
                                        display: none;

                                        @include mq-phn {
                                             font-size: 16px;
                                             padding: 0 13px 0px 13px;
                                        }
                                   }

                                   .searchBtn {
                                        font-size: 20px;
                                        
                                        @include mq-tbltSmall {
                                             display: block;
                                        }

                                        @include transitionAll( 0.3s );
                                   }

                                   .closeSearch {
                                        display: none;
                                        align-items: center;
                                        justify-content: center;
                                        height: 40px;

                                        @include transitionAll( 0.3s );

                                        span {
                                             font-size: 0;
                                             position: relative;
                                             width: 2px;
                                             height: 2px;
                                             display: block;

                                             &:before, &:after {
                                                  content: "";
                                                  font-size: 0;
                                                  display: block;
                                                  width: 25px;
                                                  height: 3px;
                                                  background: white;
                                                  position: absolute;
                                                  top: 0;
                                                  left: -10px;
                                             }
                                             &:before {
                                                  transform: rotate(-45deg);
                                             }
                                             &:after {
                                                  transform: rotate(45deg);
                                             }
                                        }
                                   }

                                   .searchInput {
                                        width: 0px;
                                        position: relative;

                                        @include transitionAll( 0.3s );

                                        /deep/ mat-form-field {
                                             width: 100%;

                                             .mat-form-field-underline {
                                                  display: none;
                                             }

                                             .mat-form-field-infix {
                                                  margin: 10px 0 0 0;

                                                  .mat-input-element {
                                                       color: black;
                                                       background: #f2f2f2;
                                                       border: thin solid #ccc;
                                                       padding: 0px;
                                                       opacity: 0;
                                                       border-radius: 10px;
                                                  }

                                                  span.mat-form-field-label-wrapper {
                                                       top: -3px;
                                                       left: 10px;
                                                       opacity: 0;
                                                  }
                                             }

                                             &.mat-form-field-should-float {
                                                  .mat-form-field-infix {
                                                       span.mat-form-field-label-wrapper {
                                                            opacity: 0;
                                                       }
                                                  }
                                             }
                                        }

                                        .searchList {
                                             position: absolute;
                                             background: white;
                                             padding: 15px 30px;
                                             display: block;
                                             width: 100%;
                                             top: 70px;
                                             border-radius: 10px;

                                             max-height: 350px;
                                             overflow: scroll;
                                             display: none;

                                             @include mq-dsktpSmall {
                                                  padding: 15px 20px;
                                             }

                                             @include mq-tblt {
                                                  width: 70vw;
                                                  left: 50%;
                                                  top: 86px;
                                                  transform: translate(-50%,0);
                                             }
                                             @include mq-tbltSmall {
                                                  position: absolute;
                                                  width: 100vw;
                                                  top: 85px;
                                                  left: 0;
                                                  transform: translate(-44.72%,0);
                                             }
                                             @include mq-phn {
                                                  top: 81px;
                                                  transform: translate(-79px, 0);
                                             }

                                             .list {
                                                  ul {
                                                       display: block;

                                                       li {
                                                            color: $mainColorDark;
                                                            margin: 20px 0 35px 0;
                                                            
                                                            ul {
                                                                 li {
                                                                      margin: 20px 0;
                                                                      padding: 0 15px;
                                                                      
                                                                      @include mq-dsktpSmall {
                                                                           padding: 0 10px;
                                                                      }
                                                                      
                                                                      a {
                                                                           color: $grey;

                                                                           @include mq-dsktpSmall {
                                                                                font-size: 15px;
                                                                                line-height: 1.4;
                                                                           }
                                                                      }
                                                                 }
                                                            }
                                                       }
                                                  }
                                             }
                                        }
                                        
                                   }
                              }

                              &.searchIconSmall {
                                   .searchBtnSmall {
                                        font-size: 20px;
                                        
                                        @include mq-tbltSmall {
                                             display: block;
                                        }
                                   }

                                   .searchSmContent {
                                        position: fixed;
                                        background: white;
                                        top: $navHeight;
                                        left: 0;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        width: 100%;
                                        height: calc(50% - #{$navHeight});

                                        @include mq-tbltSmallest {
                                             width: 100%;
                                             height: calc(100% - #{$navHeight});
                                        }
                                        
                                        .closeSearchSm {
                                             position: absolute;
                                             top: 15px;
                                             right: 5px;

                                             button {
                                                  align-items: center;
                                                  justify-content: center;
                                                  height: 30px;
                                                  min-width: 30px;
                                                  width: 30px;
                                                  display: flex;

                                                  @include transitionAll( 0.3s );

                                                  span {
                                                       font-size: 0;
                                                       position: relative;
                                                       width: 2px;
                                                       height: 2px;
                                                       display: block;
                                                       left: -20px;

                                                       &:before, &:after {
                                                            content: "";
                                                            font-size: 0;
                                                            display: block;
                                                            width: 20px;
                                                            height: 3px;
                                                            background: $blue;
                                                            position: absolute;
                                                            top: 0;
                                                            left: 10px;
                                                       }
                                                       &:before {
                                                            transform: rotate(-45deg);
                                                       }
                                                       &:after {
                                                            transform: rotate(45deg);
                                                       }
                                                  }
                                             }
                                        }

                                        .searchSmForm {
                                             text-align: center;

                                             .topIcon {
                                                  font-size: 40px;
                                                  margin: 0 0 20px 0;

                                                  @include mqH-phnSmall {
                                                       display: none;
                                                  }
                                             }

                                             /deep/ mat-form-field {
                                                  margin: 10px 0 20px 0;

                                                  @include mqH-phnSmall {
                                                       margin: 10px 0 15px 0;
                                                  }
                                                  
                                                  .mat-form-field-infix {
                                                       width: 250px;
                                                       color: $blue;

                                                       input {
                                                            &::-webkit-input-placeholder { color: $blue;; }
                                                            &::-moz-placeholder { color: $blue;; }
                                                            &:-ms-input-placeholder { color: $blue;; }
                                                            &:-moz-placeholder { color: $blue;; }
                                                       }
                                                  }

                                                  .mat-select-value {
                                                       color: $blue;
                                                  }
                                                  .mat-form-field-appearance-legacy .mat-form-field-label {
                                                       color: $blue !important;
                                                  }

                                                  .mat-form-field-underline {
                                                       background-color: $blue;
                                                   }
                                             }

                                             .searchInput {
                                                  position: relative;
                                                  
                                                  .searchBtnSend {
                                                       position: absolute;
                                                       top: 20px;
                                                       right: 0;

                                                       button {
                                                            font-size: 20px;
                                                            color: $blue;
                                                            width: 35px;
                                                            min-width: 35px;
                                                            padding: 0;
                                             
                                                            @include mq-tbltSmall {
                                                                 display: block;
                                                            }
                                                       }
                                                  }
                                             }

                                             .bottom {
                                                  margin: 20px 0 0 0;

                                                  a {
                                                       text-decoration: none;
                                                       color: $blue;
                                                  }
                                             }

                                         }
                                   }
                              }
                         }
                    }
               }

               .campusBtn {
                    button {
                         color: white;
                         text-transform: uppercase;
                         width: 90px;
                         line-height: 1.4;
                         border: thin solid white;
                         padding: 5px 0;
                         font-size: 12px;

                         @include mq-phn {
                              width: 80px;
                         }

                         @include mq-phnSmall {
                              width: 70px;
                              font-size: 10px;
                         }
                    }
               }
          }

          &:hover,
          &.scrolled {
               background: white;

               .lft {
                    .menuBtn {
     
                         button {
                              border: thin solid $mainColorDark;
     
                              span {
                                   background: $mainColorDark;
                                   
                                   &:before {
                                        background: $mainColorDark;
                                   }
                                   &:after {
                                        background: $mainColorDark;
                                   }
                              }
                         }
                    }

                    .mainLogo {
                         .logoWht {
                              display: none;
                         }
                         .logoColor {
                              display: block;
                         }
                    }

                    .menuItems {
     
                         ul {
     
                              li {

                                   a {
                                        color: $grey;

                                        &:after {
                                             background: $mainColor;
                                        }
                                   }
                              }
                         }
                    }
               }

               .rgt {
                    
                    .sideBtns {
                         ul {
     
                              li {
                                   button {
                                        color: $grey;
                                   }

                                   &.searchIcon {
                                        .searchBtn {
                                             margin: 0;
                                             color: black;
                                        }
                                        .searchLabel {
                                             color: black;
                                        }
     
                                        .closeSearch {
                                             span {
                                                  &:before, &:after {
                                                       background: $grey;
                                                  }
                                             }
                                        }
                                   }
                              }
                         }
                    }
     
                    .campusBtn {
                         button {
                              color: $mainColorDark;
                              border: thin solid $mainColorDark;
                         }
                    }
               }
          }

          // search show
          &.searchShow.scrolled,
          &.searchShow {

               .lft {
                    @include mq-tblt {
                         flex-wrap: initial;
                         width: auto;
                    }
                    @include mq-phn {
                         flex-wrap: wrap;
                         width: 100%;
                    }

                    .menuItems {
                         display: none;
                    }
               }

               .rgt {
                    .sideBtns {
                         ul {
                              li {
                                   &.searchIcon {

                                        @include mq-phn {
                                             position: absolute;
                                             width: 100%;
                                             left: 0;
                                             background: white;
                                             top: 75px;
                                             display: flex;
                                             justify-content: flex-start;
                                             padding: 0;
                                             height: 66px;
                                        }

                                        .searchBtn {
                                             margin: 0 0 0 -50px;
                                             color: black;
                                        }
     
                                        .closeSearch {
                                             display: flex;
                                        }
     
                                        .searchInput {
                                             width: 680px;
                                             
                                             @include mq-dsktpSmall {
                                                  width: 550px;
                                             }
                                             @include mq-tblt {
                                                  width: 330px;
                                             }
                                             @include mq-tbltSmall {
                                                  width: 260px;
                                             }
     
                                             /deep/ mat-form-field {
     
                                                  .mat-form-field-infix {

                                                       .mat-input-element {
                                                            padding: 8px 10px;
                                                            opacity: 1;
                                                       }

                                                       span.mat-form-field-label-wrapper {
                                                            opacity: 1;
                                                       }
                                                  }

                                                  &.mat-form-field-should-float {
                                                       .mat-form-field-infix {
                                                            span.mat-form-field-label-wrapper {
                                                                 opacity: 0;
                                                            }
                                                       }
                                                  }
                                             }
                                        }
                                   }
                              }
                         }
                    }
               }
          }
     }

     
 }