
<div class="mainTopBar">
  <div class="topbar" [ngClass]="{'scrolled': searchSmallModal}" (window:scroll)="winScroll($event)">

    <div class="lft"  *ngIf="w < 1025" (click)="openSmallMenu()">

      <div class="menuBtn">
        <button mat-button>
          <span>menu</span>
        </button>
      </div>
  
      <div class="mainLogo">
        <a href="#">
          <img class="logoWht" src="assets/img/logo_white.png" alt="main logo">
          <img class="logoColor" src="assets/img/logo_color.png" alt="main logo">
        </a>
      </div>
  
      <div class="menuItems" *ngIf="w > 1025">
        <ul>
          <li *ngFor="let itms of menuItems; let m = index">
            <a href="{{itms.link}}" class="mainLink" (mouseenter)="mainItemHover(m)">
              {{itms.label}}
            </a>

            <div class="menuLayer">
              <div class="layer layer-{{m}}">

                <div class="layerContent">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-9">
                        <div class="row">
                          <div class="col-12" *ngIf="itms.topLinks">
                            <div class="topLinks" *ngFor="let topItms of itms.topLinks">
                              <ul>
                                <li>
                                  <a href="{{topItms.link}}" class="main">{{topItms.label}}</a>
                                </li>
                                <li *ngFor="let subTopItem of topItms.children">
                                  <a href="{{subTopItem.link}}" >{{subTopItem.label}}</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-4" *ngFor="let midItems of itms.children">
                            <div class="midItems">
                              <ul>
                                <li>
                                  <a href="{{midItems.link}}" class="main">{{midItems.label}}</a>
                                </li>
                                <li *ngFor="let midSubItems of midItems.children">
                                  <a href="{{midSubItems.link}}" >{{midSubItems.label}}</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="menuFormWrap">
                          <div class="formTop">
                            <p>Ingreso 2019</p>
                          </div>
                          <div class="formMid">
                            <div class="number">
                              <div class="num">26</div>
                              <div class="mon">Noviembre</div>
                            </div>
                            <div class="ttl">Cierre de cupo</div>
                            <div class="txt">Iniciá tu proceso de inscripción</div>
                          </div>
                          <div class="bottomForm">
                              <app-lead-form-one  [styleForm]="'vertical'"></app-lead-form-one>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="arrowClose" (click)="closeMenu()">
                    <i class="icm icm-rgtBnnrArrow"></i>
                  </div>
                </div>

              </div>
            </div>

          </li>
        </ul>
      </div>

    </div>

    <div class="rgt">
      <div class="sideBtns">
        <ul>
          <li class="searchIconSmall" *ngIf="searchSmall">
            <button mat-button class="searchBtnSmall" *ngIf="!searchSmallModal" (click)="searchSmallEvnt()">
              <i class="icm icm-search"></i>
            </button>
          </li>
          <li class="searchIcon" *ngIf="!searchSmall">

            <div class="searchLabel">
              <span>Buscar: </span>
            </div>

            <div class="searchInput">
              <mat-form-field>
                <input matInput value="" id="searchInput" [formControl]="searchInput" (keyup)="searchQuery($event)">
              </mat-form-field>

              <div class="searchList">
                <div class="list">
                  <ul>
                    <li *ngFor="let category of searchResults">
                      {{category.cat}}

                      <ul>
                        <li *ngFor="let items of category.items">
                          <a href="{{items.link}}">
                            {{items.label | titlecase}}
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

            <button mat-button class="searchBtn" (click)="mainSearch()">
              <i class="icm icm-search"></i>
            </button>
            
            <button mat-button class="closeSearch" (click)="closeMainSearch()">
              <span>close</span>
            </button>
          </li>
          <li>
            <button mat-button>
              <i class="icm icm-book"></i>
            </button>
          </li>
          <li>
            <button mat-button>
              <i class="icm icm-map"></i>
            </button>
          </li>
          <li>
            <button mat-button>
              <i class="icm icm-phone"></i>
            </button>
          </li>
        </ul>
      </div>
      <div class="campusBtn">
        <button mat-button>Ingresar<wbr> a campus</button>
      </div>
    </div>

  </div>

</div>


<div class="searchSmContent animated fadeInDown" *ngIf="searchSmallModal">
  <div class="closeSearchSm">
    <button mat-button (click)="closeSearchSmallEvnt()">
      <span>Close</span>
    </button>
  </div>
  <div class="searchSmForm">
    <div class="topIcon">
      <i class="icm icm-searchFame"></i>
    </div>
    <div class="form">
      <form action="">
        <div class="searchSel">
          <mat-form-field>
            <mat-select [(value)]="levelsSel">
              <mat-option value="all">Todos los niveles</mat-option>
              <mat-option value="opt1">Option 2</mat-option>
              <mat-option value="opt2">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="searchInput">
          <mat-form-field class="">
            <input matInput placeholder="¿Qué querés estudiar?" value="">
          </mat-form-field>
          <div class="searchBtnSend">
            <button mat-button>
              <i class="icm icm-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="bottom">
      <a href="#">
        Ver todos los programas
      </a>
    </div>
  </div>
</div>

<div class="menuItemsSmall"  *ngIf="w < 1025">
  <div class="top">
    <div class="logo">
      <img class="logoColor" src="assets/img/logo_color.png" alt="main logo">
    </div>
    <div class="close">
      <button mat-button (click)="closeSmallMenu()">
        <span>Close</span>
      </button>
    </div>
  </div>
  <div class="menuWrap">
    <div class="mid">
      <div class="listItms">
        <ul>
          <li *ngFor="let main of menuItems; let m = index">
            <a href="{{main.link}}">
              <i class="icm {{main.icon}}"></i>
              <span>{{main.label}}</span>
            </a>
  
            <ul class="subLinks">
              <li *ngFor="let sub of main.children; let i = index">
                <a href="{{sub.link}}" class="subInnerBtn subInnerBtn-{{m}}-{{i}}">
                  <span>{{sub.label}}</span>
                  
                  <span class="plus" (click)="openSubMenu(m, i)"></span>
                </a>
  
                <ul class="subInnrLinks subInnerList-{{m}}-{{i}}">
                  <li *ngFor="let subInnr of sub.children">
                    <a href="{{subInnr.link}}">
                      <span>- {{subInnr.label}}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <button mat-button>
        Recibir más información
      </button>
    </div>
  </div>
</div>