

//-------------------------------------------
//     IMPORTS
//-------------------------------------------
@import "../../../../../src/assets/scss/imports";


//-------------------------------------------
//     COMPONENT STYLES
//-------------------------------------------
.careersWrapper {

     background: #f2f4f7;
     padding: 100px 0;

     @include mq-tblt {
          padding: 80px 0;
     }

     .careerTtle {
          padding: 0 0 50px 0;

          h2 {
               text-align: center;
               font-size: 45px;
               color: $titlesColor;
               
               @include mainfont-lg();

               @include mq-tblt {
                    font-size: 38px;
                    padding: 0 20px;
                    line-height: 1.4;
               }
               @include mq-tbltSmall {
                    font-size: 38px;
               }
               @include mq-phn {
                    font-size: 25px;
               }
               @include mq-phnSmall {
                    font-size: 20px;
               }
               
               b {
                    @include mainfont-bd();
               }
          }

          @include transitionAll(0.3s);
          &[data-emergence=hidden] {
               opacity: 0;
               transform: translate(0, 100px)
          }
          &[data-emergence=visible] {
               opacity: 1;
               transform: translate(0, 0px)
          }
     }

     .careerTabsBtn {
          display: flex;
          justify-content: center;

          @include mq-tbltSmall {
               flex-wrap: wrap;
          }

          @include transitionAll(0.3s, 0.15s);
          &[data-emergence=hidden] {
               opacity: 0;
               transform: translate(0, 100px)
          }
          &[data-emergence=visible] {
               opacity: 1;
               transform: translate(0, 0px)
          }

          .btnTabItem {
               border-bottom: 1px solid $lightGrey;

               @include mq-tbltSmall {
                    border: thin solid $lightGrey;
                    border-radius: 6px;
                    margin: 5px;
               }
               @include mq-tbltSmallest {
                    flex-basis: calc(50% - 10px);
               }
               
               button.mat-button {
                    color: $dark; 
                    font-size: 18px;
                    padding: 0 30px;
                    
                    @include mq-tbltSmall {
                         font-size: 12px;
                         padding: 4px 10px;
                         text-transform: uppercase;
                         white-space: normal;
                         line-height: 1.4;
                         display: flex;
                         align-items: center;
                         height: 100%;

                         width: 100%;
                         min-width: 100%;
                         text-align: center;
                         justify-content: center;
                    }
                    
                    /deep/ span {
                         @include mainfont-lg();
                    }

                    &.clear {
                         background: transparent;
                         
                         &:hover, &:focus {
                              background: transparent;

                              .mat-button-focus-overlay {
                                   opacity: 0;
                              }
                         }
                    }
               }
               
               &.active {
                    border-bottom: 2px solid $mainColor;

                    @include mq-tbltSmall {
                         border: thin solid $mainColor;
                    }
                    
                    button.mat-button {
                         color: $mainColor;
                    }
               }
          }
     }

     .careerTabsContent {
          margin: 60px 0 0 0;

          /deep/ .bx-wrapper {
               margin: 0 auto;

               @include mq-tbltSmall {
                    display: none;
               }
          }

          @include transitionAll(0.3s, 0.15s);
          &[data-emergence=hidden] {
               opacity: 0;
               transform: translate(0, 100px)
          }
          &[data-emergence=visible] {
               opacity: 1;
               transform: translate(0, 0px)
          }

          .colItem {
               padding: 0 15px;
               
               .carSingleItem {
                    .topImg {
                         overflow: hidden;
                         position: relative;
                         width: 100%;
                         height: auto;
                         border-radius: 0px;
                         border: thin solid #ccc;

                         @include transitionAll( 0.3s );

                         img {
                              transform: scale(1);
                         
                              @include transitionAll( 0.3s );
                         }
                    }
                    .name {
                         color: $blue2;
                         @include mainfont-rg();
                         margin: 8px 0 5px 0;
                    }
                    
                    .info {
                         font-size: 14px;
                         line-height: 1.4;
                         @include mainfont-rg();
                         color: $grey;
                    }

                    &:hover {
                         .topImg {
                              border-radius: 10px;

                              img {
                                   // transform: translate(-50%, -50%) scale(1.1);
                                   transform: scale(1.1);
                              }
                         }
                    }
               }
          }

          .pager {
               display: flex;
               justify-content: center;
               margin: 40px 0 20px;

               @include mq-tbltSmall {
                    display: none;
               }

               .pagerItem {
                    margin: 0 7px;
                    border: 1px solid $darkBlue;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    font-size: 0;
                    background: transparent;
                    cursor: pointer;

                    @include transitionAll( 0.3s );

                    &.active {
                         background: $darkBlue;;
                    }
               }
          }

          .mobileCareerList {
               display: none;

               ul {
                    width: 50vw;
                    position: relative;
                    left: 50%;
                    transform: translate(-50%, 0);
                    
                    @include mq-phn {
                         width: 85vw;
                    }

                    li {
                        position: relative;
                        text-indent: 15px;
                        margin: 0 0 20px 0;
                        
                         &:before {
                              content: "";
                              width: 8px;
                              height: 8px;
                              background: $mainColor;
                              position: absolute;
                              top: 4px;
                              left: 0px;
                              border-radius: 50%;
                         }

                         a {
                              color: $grey;
                              line-height: 1.4;
                         }
                    }
                }

               @include mq-tbltSmall {
                    display: block;
               }
               
          }
     }

}